.classpath
.gitignore
.project
.settings
*.iml
.idea/
target/
/stuff-spring-mvc-ui/src/main/resources/hibernate.properties
/stuff-spring-mvc-ui/src/main/resources/googleReCaptcha.properties
/stuff-spring-mvc-ui/src/main/resources/email.properties